{% extends 'base/base.html' %}

{% block content %}
    <h3>{{bugreport.title}}</h3>

    <p><a href="{% url 'quality_control:update_bug' bugreport.id %}">Изменить отчет</a></p>

    <p><a href="{% url 'quality_control:delete_bug' bugreport.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот отчет об ошибке?');">Удалить отчет</a></p>

    <ul>
        <li><b>Описание:</b> {{bugreport.description}}</li>
        <li><b>Статус:</b> {{bugreport.status}}</li>
        <li><b>Приоритет:</b> {{bugreport.priority}}</li>
        <li><b>Проект:</b> {{bugreport.project}}</li>
        <li><b>Задача:</b> {{bugreport.task}}</li>
    </ul>
{% endblock %}